@import 'mixins';
@import 'colors';


nav {
	display: grid;
	grid-template-areas: "Branding" "Nav" "Widgets" "Utils";
	grid-template-rows: auto 1fr auto auto;
	background-color: $featureColor;
	height: 100dvh;
	position: static;

	>* {
		display: flex;
		flex-direction: column;
	}

	.branding {
		grid-area: Branding;
	}

	.mainNav {
		grid-area: Nav;
	}

	.widgets {
		grid-area: Widgets;
	}

	.utils {
		grid-area: Utils;
	}

}